[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
codecov = "==2.0.15"
pytest-cov = "==2.5.1"
csvprint = {editable = true,path = "."}

[requires]
python_version = "3.7"
